<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{common/shoulder_fragment::head(title = 'SNSサイト - プロフィール')}"></div>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="~{common/shoulder_fragment::header}"></div>

  <!-- ======= Sidebar ======= -->
  <div th:replace="~{common/shoulder_fragment::sidebar(page = 'profile')}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>プロフィール</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-xl-8">

          <div class="row" th:if="${#lists.isEmpty(postsList)}">
            <div class="col-lg-12">
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  投稿はありません。
              </div>
            </div>
          </div>

          <div class="row" th:if="${not #lists.isEmpty(postsList)}">
            <div class="col-lg-12">
              <!-- Card with an image on top -->
              <div class="card" th:each="posts:${postsList}">
                <div th:each="postImages:${posts.postImagesList}">
                  <img th:src="${@storageService.getDataUri(postImages.imageUri)}" src="/assets/img/card.jpg" class="card-img-top" alt="..." />
                </div>
                <div class="card-body">
                  <h5 class="card-title" th:text="${posts.title}">リラックスしてカフェタイムを楽しむ！テラスでのカフェ体験</h5>
                  <p class="card-text" th:utext="${@stringUtil.nl2br(posts.body)}">こんにちは、皆さん！今日は素晴らしいテラスでのカフェ体験についてお話ししたいと思います。最近、私は忙しい日常生活から離れるために、テラスでカフェを楽しむことを好んでいます。そこで、今回は私のおすすめのテラスカフェを紹介しつつ、リラックスしてカフェタイムを過ごす方法をご紹介します。
                    <br>
                    <br>
                    私が行ったカフェは、美しい景色が見渡せるテラス席が魅力のカフェでした。テラスでコーヒーや紅茶を飲みながら、日差しを浴びていると、とてもリラックスできます。また、周りの自然の風景を見ながら、ストレスが吹き飛ぶような気分になります。
                    <br>
                    <br>
                    さらに、カフェのメニューも豊富で、美味しい軽食やスイーツもたくさんありました。私は、季節限定のフルーツタルトを注文しました。フルーツの甘みがたっぷりで、サクサクのタルト生地との相性が抜群でした。食べるたびに、幸せな気分になりました。
                    <br>
                    <br>
                    テラスカフェで過ごす時間は、私にとって特別な時間です。自然の中で、おいしい食べ物や飲み物を楽しみながら、リラックスできる場所は貴重です。皆さんも、テラスカフェでのカフェタイムを試してみてはいかがでしょうか？
                  </p>
                </div>

                <div class="card-body">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${validationCommentErrors != null && validationCommentErrors.containsKey(posts.id)}">
                    <div th:each="error : ${validationCommentErrors.get(posts.id).getAllErrors()}">
                      <i class="bi bi-exclamation-octagon me-1"></i>
                      <span th:text="${error.getDefaultMessage()}">エラーメッセージを表示します。</span>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>

                  <form class="row g-3" method="post" th:action="@{/comment/{postsId}(postsId=${posts.id})}" th:object="${requestComment}">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="コメントを入力..." th:field="*{comment}">
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">コメントする</button>
                    </div>
                  </form>
                </div>

                <div class="card-body" th:if="${not #lists.isEmpty(posts.postCommentsList)}">
                  <div class="news">
                    <div class="post-item clearfix" th:each="postComments:${posts.postCommentsList}">
                      <img th:src="(*{postComments.users.iconUri} ? ${@storageService.getDataUri(postComments.users.iconUri)} : '/assets/img/profile-dummy.png')" alt="" class="rounded-circle">
                      <h4><a th:href="@{/profile/{id}(id=${postComments.users.id})}" th:text="${postComments.users.name}">前田裕司</a></h4>
                      <p th:text="${postComments.comment}">ハヤシライス、ピリ辛味噌バターコーンのスープパスタを食べてきました。...</p>
                    </div>
                  </div><!-- End sidebar recent posts-->
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-xl-4">
          <div th:if="${validationErrors != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <div th:each="error : ${validationErrors.getAllErrors()}">
              <i class="bi bi-exclamation-octagon me-1"></i>
              <span th:text="${error.getDefaultMessage()}">エラーメッセージ</span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <img th:src="(*{profileUsers.iconUri} ? ${@storageService.getDataUri(profileUsers.iconUri)} : '/assets/img/profile-dummy.png')" alt="Profile" class="rounded-circle" style="width: 120px;" />
              <h2 th:text="${profileUsers.name}">佐藤太郎</h2>
              <div th:if="${users.id != profileUsers.id}" th:switch="${friends?.approvalStatus}" class="social-links mt-2">
                <button th:case="${T(jp.dcworks.engineersgate.egsns.core.AppConst).FRIENDS_APPROVAL_STATUS_IN_PROGRESS}" class="btn btn-outline-primary rounded-pill" disabled>申請中</button>
                <button th:case="${T(jp.dcworks.engineersgate.egsns.core.AppConst).FRIENDS_APPROVAL_STATUS_REVIEW}" class="btn btn-outline-primary rounded-pill" disabled>承認待ち</button>
                <button th:case="${T(jp.dcworks.engineersgate.egsns.core.AppConst).FRIENDS_APPROVAL_STATUS_GRANTED}" class="btn btn-outline-success rounded-pill" disabled>友達</button>
                <button th:case="${T(jp.dcworks.engineersgate.egsns.core.AppConst).FRIENDS_APPROVAL_STATUS_CONSENT}" class="btn btn-outline-success rounded-pill" disabled>友達</button>
                <a th:case="*" th:href="@{/friend/request/{id}(id=${profileUsers.id})}" class="btn btn-primary rounded-pill">友達申請</a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" th:disabled="${users.id != profileUsers.id}">基本データ</button>
                </li>

                <li th:if="${users.id == profileUsers.id}" class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">プロフィール編集</button>
                </li>

                <li th:if="${users.id == profileUsers.id}" class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">パスワード変更</button>
                </li>
              </ul>

              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview" th:object="${profileUsers}">
                  <h5 class="card-title">自己紹介</h5>
                  <p class="small fst-italic" th:utext="*{@stringUtil.nl2br(profile)}">
                    はじめまして、佐藤太郎と申します。私は、大手銀行の投資部門で働いています。投資に対する深い知識と経験を持ち、
                    顧客に最適な投資プランを提供することができます。
                    <br>
                    <br>
                    また、ビジネスに対する専門知識も持っており、クライアントのビジネス成長をサポートすることもできます。
                    趣味は旅行とゴルフです。世界中を旅して、新しい文化や人々と出会うことが私の楽しみです。
                    <br>
                    <br>
                    また、週末はゴルフ場で友人とプレーすることもあります。私の信念は、自己研鑽とお客様の満足度の向上に努めることです。
                    どうぞよろしくお願いいたします。
                  </p>

                  <h5 class="card-title">プロフィール</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">名前</div>
                    <div class="col-lg-9 col-md-8" th:text="*{name}">佐藤太郎</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">メールアドレス</div>
                    <div class="col-lg-9 col-md-8" th:text="*{emailAddress}">tsato@dcworks.jp</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div>
                      <i class="bi bi-exclamation-octagon me-1"></i>
                      <span>エラーメッセージを表示します。</span>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>

                  <!-- Profile Edit Form -->
                  <form method="post" enctype="multipart/form-data" novalidate th:action="@{/profile/regist}" th:object="${profileUsers}">
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-4 col-form-label">プロフィール画像</label>
                      <div class="col-md-8 col-lg-8">
                        <span id="previewbox">
                          <!--/* タイムスタンプをURLパラメータに指定している理由は、更新直後ブラウザキャッシュにより表示されないことがある為、設定している。 */-->
                          <img th:src="(*{iconUri} ? ${@storageService.getDataUri(profileUsers.iconUri)} : '/assets/img/profile-dummy.png')" id="previewimg" style="height: 120px;" />
                        </span>
                        <div class="pt-2">
                          <label>
                            <i class="bi bi-upload btn btn-primary btn-sm"></i>
                            <input type="file" name="profileFile" id="filesend" style="display: none;">
                            <input type="hidden" name="profileFileHidden" id="filesendHidden" th:value="*{iconUri}">
                          </label>
                          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image" onclick="resetPreview();"><i class="bi bi-trash"></i></a>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-4 col-form-label">名前</label>
                      <div class="col-md-8 col-lg-8">
                        <input name="fullName" type="text" class="form-control" id="fullName" value="佐藤太郎" th:field="*{name}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-4 col-form-label">自己紹介</label>
                      <div class="col-md-8 col-lg-8">
                        <textarea name="about" class="form-control" id="about" style="height: 100px" th:field="*{profile}">はじめまして、佐藤太郎と申します。私は、大手銀行の投資部門で働いています。投資に対する深い知識と経験を持ち、
顧客に最適な投資プランを提供することができます。

また、ビジネスに対する専門知識も持っており、クライアントのビジネス成長をサポートすることもできます。
趣味は旅行とゴルフです。世界中を旅して、新しい文化や人々と出会うことが私の楽しみです。

また、週末はゴルフ場で友人とプレーすることもあります。私の信念は、自己研鑽とお客様の満足度の向上に努めることです。
どうぞよろしくお願いいたします。</textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-4 col-form-label">メールアドレス</label>
                      <div class="col-md-8 col-lg-8">
                        <input name="email" type="email" class="form-control" id="Email" value="tsato@dcworks.jp" th:field="*{emailAddress}">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">プロフィールを保存</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div>
                      <i class="bi bi-exclamation-octagon me-1"></i>
                      <span>エラーメッセージを表示します。</span>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>

                  <!-- Change Password Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-4 col-form-label">現在のパスワード</label>
                      <div class="col-md-8 col-lg-8">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-4 col-form-label">新しいパスワード</label>
                      <div class="col-md-8 col-lg-8">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-4 col-form-label">新しいパスワードを再入力</label>
                      <div class="col-md-8 col-lg-8">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">パスワードを変更</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="~{common/shoulder_fragment::footer}"></div>

</body>

</html>