<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{common/shoulder_fragment::head(title = 'SNSサイト - フレンド')}"></div>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="~{common/shoulder_fragment::header}"></div>

  <!-- ======= Sidebar ======= -->
  <div th:replace="~{common/shoulder_fragment::sidebar}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>フレンド</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <div class="col-lg-12">

          <!-- News & Updates Traffic -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">フレンドリスト</h5>

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">名前</th>
                    <th scope="col">プロフィール</th>
                    <th scope="col">承認ステータス</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><img src="/assets/img/news-1.jpg" alt="" style="width: 80px;"></th>
                    <td><a href="/profile/">前田裕司</a></td>
                    <td>
                      こんにちは、前田裕司と申します。IT企業でマーケティング部門に勤務しています。<br>クリエイティブな発想力を活かして、常に新しいアイデアを提案しています。<br>趣味は音楽鑑賞と野球観戦です。
                    </td>
        	        <td><button type="button" class="btn btn-primary rounded-pill">未承認</button>&nbsp;<button type="button" class="btn btn-danger rounded-pill">却下</button></td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/assets/img/news-2.jpg" alt="" style="width: 80px;"></th>
                    <td><a href="/profile/">深沢雅彦</a></td>
                    <td>
                      はじめまして、深沢雅彦です。弁護士事務所で働いています。正義感が強く、<br>法律に対する深い知識と豊富な経験を持っています。<br>的確な判断力を発揮し、クライアントのために尽力しています。趣味は読書とゴルフです。
                    </td>
                    <td><button type="button" class="btn btn-secondary rounded-pill" disabled="disabled">承認済み</button></td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/assets/img/news-3.jpg" alt="" style="width: 80px;"></th>
                    <td><a href="/profile/">哀川涼</a></td>
                    <td>
                      こんにちは、哀川涼と言います。俳優をしています。<br>幅広い役柄をこなすことができる演技力を持っています。<br>人柄も良く、周囲からの信頼も厚いです。趣味はトレーニングと音楽鑑賞です。
                    </td>
                    <td><button type="button" class="btn btn-primary rounded-pill">未承認</button>&nbsp;<button type="button" class="btn btn-danger rounded-pill">却下</button></td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/assets/img/news-4.jpg" alt="" style="width: 80px;"></th>
                    <td><a href="/profile/">奥山恵子</a></td>
                    <td>
                      はじめまして、奥山恵子と申します。フリーランスのイラストレーターです。センスが良く、<br>独自のスタイルを持ったイラストを制作しています。<br>クライアントからの要望に応えるため、柔軟な発想力を発揮しています。<br>趣味は絵を描くことと読書です。
                    </td>
                    <td><button type="button" class="btn btn-secondary rounded-pill" disabled="disabled">承認済み</button></td>
                  </tr>
                  <tr>
                    <th scope="row"><img src="/assets/img/news-5.jpg" alt="" style="width: 80px;"></th>
                    <td><a href="/profile/">矢部将也</a></td>
                    <td>
                      こんにちは、矢部将也と言います。飲食店の店長をしています。<br>お客様に対して丁寧な接客を心掛け、料理の腕も良いと評判をいただいています。<br>趣味は旅行と料理研究です。お店にもぜひお越しください！
                    </td>
                    <td><button type="button" class="btn btn-primary rounded-pill">未承認</button>&nbsp;<button type="button" class="btn btn-danger rounded-pill">却下</button></td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>
        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="~{common/shoulder_fragment::footer}"></div>

</body>

</html>